footer
  .container.text-center
    p.pull-left © 2016 Castle Studio, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='http://castlestudio.me') Hey... check my page.
        span Or maybe
      li
        a(href='https://github.com/giancastle/fcc-voting-app/issues')  you got some Issues? report it 👀
